
.home-container {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/bg-eodum.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e0f7fa;
  font-family: "Orbitron", sans-serif;
}
