
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background-color: #111;
  color: #e0f7fa;
  border: 2px solid #00ffff;
  padding: 2rem;
  width: 350px;
  max-height: 90vh;
  overflow-y: auto;
  font-family: "Orbitron", sans-serif;
  box-shadow: 0 0 15px #00ffff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-action {
  background-color: #00ffff;
  color: #000;
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.close-button {
  background: none;
  border: none;
  color: #00ffff;
  font-size: 1.5rem;
  cursor: pointer;
}
